
.Container{
    width: 80%;
    background-color: #252525;
    box-shadow: 0px 12px 10px -10px #00000041;
    border: 2px solid #232323;
    border-radius: 24px;
    opacity: 0;
    gap: 12px;
    height: 250px;
    transition: 400ms;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    overflow: hidden;
    justify-items: center;
    animation: appear 400ms forwards;
  }
  
  .details{
    width: 90%;
    opacity: 0;
    animation: appear 400ms forwards;
  }
  .details>.deeets{
    font-size: 17px;
  }
  .detailsHeader{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
  }.detailsHeader>button{
    outline: none;
    background: #ff000000;
    border: .25px solid #ff000059;
    color: #ff0000;
    width: 120px;
    height: 30px;
    font-weight: bold;
    border-radius: 15px;
    cursor:pointer;
  }
  .detailsHeader>button:hover{
    background: #ff0000;
    color: #ffffff;
    border: .25px solid #ff0000;
  }
  .deeets>.dataRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .innerHeader{
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    grid-row: 1/2;
    /* border-bottom: 1px solid #00000041; */
  }
  
  #status{
    font-size: 12px;
    color: #f3f3f3;
    margin-right: 10px;
  }
  
  .switchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 10px; */
    height: 40px;
    overflow: hidden;
    /* border-radius: 12px; */
    gap: 2px;
  }
  
  .switchContainer>.switch{
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    background-color: #2b2b2b;
    cursor: pointer;
    border: 1px solid #1d1d1d;
    font-size: 60%;
    border-radius: 4px;
    align-items: center;
    vertical-align: middle;
    color: rgb(243, 243, 243);
    transition: 200ms;
    justify-content: center;
  }
  
  .switchContainer>.switch:hover{
    background-color: #a1d2ff;
    color: #2f2f2f;
  }
  .switchContainer>.switch.active{
    background-color: #74d0ff;
    color: #023b4b;
    border: 1px solid #06005f;
  }
  
  
  
  .SlingRing{
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    overflow: scroll;
    align-items: center;
    grid-row: 2/3;
    /* border: 1px solid #00000041; */
  }
  
  
  .ringContainer{
      /* width: 100%; */
      /* background-color: #a1d2ff; */
      border-radius: 12px;
      height: 72%;
      display: flex;
      height: 76%;
      padding: 12px;
      gap: 4px;
      overflow: scroll;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: stretch;
  }
  
  .ringContainer>.ring{
    width: 24px;
    border-radius:8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000041;
    /* transition: 100ms; */
    opacity: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
  }
  
  .ringContainer>.ring.running{
    background-color: #00ff62;
  }
  .ringContainer>.ring.running:hover{
    background-color: #5aff5700;
    border: 1px solid #00ff62;
  }
  
  .ringContainer>.ring.error{
    background-color: #ff585e;
  }
  .ringContainer>.ring.error:hover{
    background-color: #ff585e00;
    border: 1px solid #ff585e;
  }
  .ringContainer>.ring.maintenance{
    background-color: rgb(0, 157, 255);
  }
  .ringContainer>.ring.maintenance:hover{
    background-color: #00a2ff00;
    border: 1px solid #00a1ff;
  }
  .ringContainer>.ring:hover{
    scale: 1.1;
  }
  
  @keyframes appear{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  @keyframes load {
    0% {
      transform: scale(0.5);
      /* height: 12px; */
      background-color: #1683ff;
      
      opacity: 0;
    }
    50% {
      transform: scale(1.1) translateY(-12px);
      background-color: #168eff;
      
  
    }
    70% {
      transform: scale(1);
      height: 50%;
      background-color: #00ffe5;
      /* box-shadow: 0px 0px 12px 0px #00ffe5; */
  
      opacity: 1;
    }
    100% {
      transform: scale(1);
      /* height: 0px; */
      opacity: 1;
    }
    
  }
  